<%- include('include/imports/adminhead') %>
<%- include('include/components/navbar') %> 
<%- include('include/components/breadcumb') %> 

<section class="car-admin spad">
    <div class="container">
        <div class="row">
            <%- include('include/components/navbar-side') %> 
        </div>
    </div>
</section>

<%- include('include/imports/adminend') %>