<%- include('include/imports/adminhead') %>
<%- include('include/components/navbar') %> 
<%- include('include/components/breadcumb') %> 

<section class="car-admin spad">
    <div class="container">
        <div class="row">
            <%- include('include/components/navbar-side') %>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-6">
                        asdhgajshdg
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('include/imports/adminend') %>