<%- include('include/imports/head') %>
<%- include('include/components/navbar') %> 
<%- include('include/components/breadcumb') %>
<!-- Car Section Begin -->
<section class="car spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="car__sidebar">
                    <form action="">
                        <div class="car__search">
                            <h5>Procurar</h5>
                            <input type="text" placeholder="Por palavra-chave">
                            <input type="text" placeholder="Por código">
                        </div>
                        <div class="car__filter">
                            <h5>Filtros</h5>
                            <select>
                                <option data-display="Marca">Marca</option>
                                <option value="">Acura</option>
                                <option value="">Audi</option>
                                <option value="">Bentley</option>
                                <option value="">BMW</option>
                                <option value="">Bugatti</option>
                            </select>
                            <select>
                                <option data-display="Estado">Estado</option>
                                <option value="">Novo</option>
                                <option value="">Seminovo</option>
                                <option value="">Repasse</option>
                            </select>
                            <select>
                                <option data-display="Motor">Motor</option>
                                <option value="">1.0</option>
                                <option value="">1.4</option>
                                <option value="">1.6</option>
                                <option value="">2.0</option>
                                <option value="">2.4</option>
                                <option value="">2.8</option>
                            </select>
                            <select>
                                <option data-display="">Modelo</option>
                                <option value="">Sedã</option>
                                <option value="">Hatch</option>
                                <option value="">Caminhotes</option>
                            </select>
                            <div class="filter-price">
                                <p>Faixa de Preço:</p>
                                <div class="price-range-wrap"> 
                                    <div class="filter-price-range"></div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <input type="text" id="filterAmount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="car__filter__btn" style="margin-bottom: 10px;">
                                <button type="submit" class="site-btn">Enviar</button>
                            </div>
                            <div class="car__filter__btn ">
                                <a href=""> Limpar filtros</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="car__filter__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="car__filter__option__item">
                                <h6>Limite por página</h6>
                                <select>
                                    <option value="">9 Carros</option>
                                    <option value="">18 Carros</option>
                                    <option value="">30 Carrros</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="car__filter__option__item car__filter__option__item--right">
                                <h6>Listar por:</h6>
                                <select>
                                    <option value="">Destaques</option>
                                    <option value="">Preço Crescente</option>
                                    <option value="">Preço Descrescente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                    <%- include('include/components/car-grid') %>
                </div>
                <div class="pagination__option">
                    <a href="#"><span class="arrow_carrot-2left"></span></a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#"><span class="arrow_carrot-2right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('include/imports/end') %>